*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family:"Gilroy ☞"; */
    font-family: "montserrat";
}

html,body{
    height: 100%;
    width: 100%;
}

#back{
    position: relative;
    position: absolute;
    /* left: 10%;
    top: 12%; */
    width: 100%;
    box-shadow: 0 60px 80px -40px  rgba(46, 46, 46, 0.8);
    height: 100%;
    background-color: #ffffff;
    /* scale: .8; */
}

#line1{
    width: 2px;
    height: 40px;
    right: 90px;
    opacity: .3;
    bottom: 0;
    background-color: black;
    position: absolute;
}

#back>h5{
    position: absolute;
    bottom: 45px;
    right: 70px;
    opacity: .4;
    text-transform: capitalize;
}

#nav{
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    /* background-color: red; */
    padding: 0 10px;
    /* margin-top: 20px; */
}

#nav #recent{
    opacity: .5;
    
}

#nav h3{
    margin-left: 35px;
    font-weight: 900;
    letter-spacing: 2.5px;
    font-size: 12px;
}

.links{
    height: 100%;
    width: 500px;
    padding: 0 5px;
    /* background-color: red; */
    margin-left: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links a{
    text-decoration: none;
    font-weight: 500;
    text-transform: capitalize;
    opacity: .7;
    font-size: 12px;
    color: black;
}

#nav i{
    margin-right: 100px;
}

#main{
    width: 100%;
    height: 60%;
    margin-top: 20px;
    display: flex;
    /* background-color: red; */
}

#left{
    height: 100%;
    width: 67%;
    display: flex;
    position: relative;
    /* background-color: red; */
}

#first p{
    position: absolute;
    bottom: 30px;
    left: 5px;
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
}

#first{
    height: 100%;
    width: 70px;
    background-color: yellow;
    background-position: center;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1453791052107-5c843da62d97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
}

#second{
    height: 100%;
    position: absolute;
    left: 85px;
    width:170px;
    background-color: yellow;
    background-position: center;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1443632864897-14973fa006cf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
}
#second p{
    position: absolute;
    bottom: 30px;
    right: 10px;
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
}

#third{
    height: 100%;
    width: 600px;
    position: relative;
    position: absolute;
    left: 270px;
    box-shadow: 0 60px 50px -40px  rgba(37, 37, 37, 0.8);
    background-color: yellow;
    background-position: center;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1516432887776-cf02336463c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
}

#third h1{
    text-transform: uppercase;
    font-size: 30px;
    text-align: right;
    position: absolute;
    bottom: 40px;
    right: 10px;
    color: #ffffff;
    font-weight: 700;
}

#text{
    width: 69%;
    height: 70px;
    display: flex;
    position: relative;
    /* background-color: red; */
}

#one{
    height: 100%;
    width: 70px;
    /* background-color: yellowgreen; */
}

#one p{
    font-size: 11px;
    font-weight: 450px;
    opacity: .4;
    margin-top: 15px;
}

#two{
    height: 100%;
    width: 170px;
    position: absolute;
    left: 85px;
    /* background-color: yellowgreen; */
}

#two p{
    font-size: 11px;
    font-weight: 200px;
    opacity: .4;
    padding: 0 10px;
    margin-top: 15px;
}


#three{
    height: 100%;
    width: 505px;
    position: absolute;
    left: 270px;
    display: flex;
    /* background-color: yellowgreen; */
}

#write{
    height: 100%;
    width: 75%;
    /* background-color: red; */
}

#write p{
    font-size: 11px;
    font-weight: 450px;
    opacity: .4;
    padding: 0 10px;
    margin-top: 15px;
}

#tools{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
}

#line{
    height: 2px;
    width: 40px;
    border-radius: 50px;
    opacity: .4;
    background-color: black;
}

#tools p{
    font-size: 9px;
    font-weight: 700;
}

#right{
    height: 100%;
    width: 33%;
    /* background-color: yellow; */
}

#under{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
    width: 84%;
}

#kiku{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    justify-content: space-between;
    /* background-color: rebeccapurple; */
}

#circle{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 60px;
    width: 70px;
    /* background-color: red; */
}

#circle h5{
    font-size: 12px;
}

#kiku p{
    opacity: .2;
}

#oval{
    height: 35px;
    width: 35px;
    border: 1px solid black;
    opacity: .2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

#nav1{
    display: flex;
    width: 100%;
    height: 50px;
    margin-top:  3px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    /* background-color: red; */
}

#nav1 p{
    color: black;
    opacity: .1;
    font-size: 60px;
    font-weight: 700;
}

#tiku{
    height: 100%;
    width: 42%;
    /* background-color: rgb(137, 124, 150); */
    position: relative;
}

#tiku p{
    font-weight: 700;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#tiku h4{
    font-size: 13px;
    opacity: .3;
    font-family:"Gilroy ☞";
    margin-top: 20px;
}

#tiku h5{
    position: absolute;
    bottom: 45px;
    font-size: 12px;
}

#trend2{
    height: 35px;
    width: 35px;
    border: 1px solid black;
    opacity: .2;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#trend2 i{
    color: black;
}

#accounts{
    height: 50px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80px;
    margin-left: 35px;
    margin-top: 50px;
}

.class{
    height: 20px;
    width: 20px;
    opacity: .3;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.class i{
    font-size: 10px;
}



